@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Mazzard';
    src: url('../fonts/MazzardM-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


